:root {
    --background-color: #fff;
    --background-color-dark: #1b2434;
    --primary-color: #379dd8;
    --white-color: #fff;
    --black-color: #000;
    --border-textarea-color: #ebebeb;
    --border-textarea-color-black: #4d545f;
    --border-radius: 20px;
    --font-family: Roboto, sans-serif;
    --placeholder-color: #aaa;
}

html {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    font-family: var(--font-family), serif;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    text-rendering: optimizeLegibility;
    border-radius: var(--border-radius);
    align-items: center;
    background-color: var(--background-color);
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    width: 100%;
    padding: 15px;
    height: 34px;
    background-color: var(--background-color);
    transition: margin-bottom 0.3s ease;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer.dark-theme {
    background-color: var(--background-color-dark);
}

footer.panel-above {
    margin-bottom: 40px;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#theme-toggle svg {
    color: #333;
    transition: color 0.3s ease;
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--white-color);
}

body.dark-theme #theme-toggle svg {
    color: #f0e68c;
}

body.dark-theme #sun-icon {
    display: none;
}

body.dark-theme #moon-icon {
    display: inline;
}

body:not(.dark-theme) #moon-icon {
    display: none;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 1024px) {
    html, body {
        zoom: 1.1;
        overflow-x: hidden !important
    }

    footer {
        padding-bottom: 18px;
    }
}

@media (min-width: 1281px) {
    html, body {
        zoom: 1.05;
        overflow-x: hidden !important
    }

    footer {
        padding-bottom: 18px;
    }
}

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden !important;
        overflow-y: auto !important;
        position: relative !important;
        width: 100vw;
    }

    header pre {
        margin: 0;
    }

    textarea {
        width: 100% !important;
    }

    .textarea-container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

textarea {
    width: 80%;
    height: 250px;
    resize: both;
    overflow: auto;
    padding: 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-textarea-color);
    box-shadow: none;
    scrollbar-width: none;
}

.textarea-container {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none;
}

textarea::placeholder {
    color: var(--placeholder-color);
    opacity: 0.8;
}

body.dark-theme textarea {
    background-color: var(--background-color-dark);
    color: var(--white-color);
    border: 1px solid var(--border-textarea-color-black);
}

body.dark-theme textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

body.dark-theme textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

input[type="submit"] {
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    min-width: 130px;
    text-align: center;
    transition: transform 0.1s ease;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

input[type="submit"]:disabled:hover {
    cursor: not-allowed;
    opacity: 0.7;
}

input[type="button"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    cursor: pointer;
    color: var(--black-color);
    transition: transform 0.1s ease;
}

body.dark-theme input[type="button"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color-dark);
    color: var(--white-color);
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

body.dark-theme input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

input[type="submit"]:active, input[type="button"]:active, button:active {
    transform: scale(0.95);
}

.button-active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

body.dark-theme .button-active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.loading {
    opacity: 0.6;
}

header pre {
    display: grid;
    font-size: max(0.68rem, 1.9vmin) !important;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
}

.form-section .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    min-height: 60px;
}

.form-section button {
    padding: 8px 12px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--black-color);
    cursor: pointer;
}

.form-section button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

body.dark-theme .form-section button {
    background-color: var(--background-color-dark);
    color: var(--white-color);
}

body.dark-theme .form-section button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.form-section .button-container button {
    padding: 8px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.form-section .button-container button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

body.dark-theme .form-section .button-container button {
    background-color: var(--background-color-dark);
    color: var(--white-color);
}

body.dark-theme .form-section .button-container button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.form-section .button-container button svg {
    transition: color 0.3s ease;
}

.form-section .button-container button svg {
    transition: color 0.3s ease;
}

#theme-toggle,
footer button,
footer a {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-toggle svg,
footer button svg,
footer a svg {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

#theme-toggle:hover svg,
footer button:hover svg,
footer a:hover svg {
    color: var(--primary-color);
}

body.dark-theme #theme-toggle svg,
body.dark-theme footer button svg,
body.dark-theme footer a svg {
    color: var(--primary-color);
}

body.dark-theme #theme-toggle:hover svg,
body.dark-theme footer button:hover svg,
body.dark-theme footer a:hover svg {
    color: var(--primary-color);
}

textarea:focus, textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none;
}

#github-light-icon {
    display: inline;
}

#github-dark-icon {
    display: none;
}

body.dark-theme #github-light-icon {
    display: none;
}

body.dark-theme #github-dark-icon {
    display: inline;
}

#asciiHeader {
    cursor: pointer;
}

#update-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.group-button-wrapper {
    position: relative;
    display: inline-block;
}

.delete-group-btn {
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid var(--primary-color);
}

.delete-group-btn svg,
.add-group-btn svg {
    width: 24px;
    height: 24px;
}

.delete-group-btn:hover,
.add-group-btn:hover {
    background: var(--primary-color);
}

.delete-group-btn:hover svg,
.add-group-btn:hover svg {
    color: var(--white-color);
}

#update-w4s-panel {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 20px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    width: 145px;
    transition: transform 0.3s ease;
}

#update-w4s-panel span {
    font-size: 14px;
    font-weight: 500;
}

#update-w4s-panel .progress-bar {
    width: 145px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#update-w4s-panel .progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 5px;
    animation: moveProgress 1.5s infinite ease-in-out;
}

@keyframes moveProgress {
    0% {
        transform: translateX(-15%);
    }
    50% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(-15%);
    }
}

#update-w4s-panel:hover {
    opacity: 0.9;
}

.pwa-safe-area {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: var(--background-color);
    z-index: 1001;
}

body.pwa-mode .pwa-safe-area {
    display: block;
}

body.dark-theme .pwa-safe-area {
    background-color: var(--background-color-dark);
}

body.pwa-mode #update-w4s-panel {
    bottom: calc(env(safe-area-inset-bottom) + 12px);
}