:root {
    --background-color: #fff;
    --primary-color: #379dd8;
    --white-color: #fff;
    --black-color: #000;
    --border-textarea-color: #ebebeb;
    --border-radius: 20px;
    --font-family: Roboto, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1b2434;
        --border-textarea-color: #4d545f;
        --font-family: Roboto, sans-serif;
    }
}

html, body {
    font-family: Roboto, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px; /* Размер шрифта */
    color: var(--primary-color);
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer.dark-theme {
    background-color: var(--background-color); /* Цвет фона футера в тёмной теме */
    color: var(--primary-color); /* Цвет текста футера в тёмной теме */
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* Цвет иконок */
#theme-toggle svg {
    color: #333; /* Цвет иконок в светлой теме */
    transition: color 0.3s ease;
}

/* Стили для тёмной темы */
body.dark-theme {
    background-color: var(--background-color); /* Фон для тёмной темы */
    color: var(--white-color); /* Цвет текста для тёмной темы */
}

/* Цвет иконок в тёмной теме */
body.dark-theme #theme-toggle svg {
    color: #f0e68c; /* Цвет иконок в тёмной теме (желтоватый для контраста) */
}

/* Переключение между иконками */
body.dark-theme #sun-icon {
    display: none;
}

body.dark-theme #moon-icon {
    display: inline;
}

body:not(.dark-theme) #moon-icon {
    display: none;
}

.header {
    text-align: center;
    color: #333;
    white-space: pre;
    margin: 0;
    line-height: 1.2;
    padding: 20px 0;
}

.subtitle {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Чтобы все элементы растягивались по ширине */
    justify-content: center;
    width: 100%;
}

.form-section textarea {
    width: 100%; /* Обеспечим, что textarea будет занимать всю ширину контейнера */
    box-sizing: border-box; /* Учитываем границы и отступы */
}

.form-section.active {
    display: block;
}

textarea {
    width: 100%; /* Занимает всю ширину родительского контейнера */
    height: 200px; /* Высота текстовой области */
    resize: none; /* Запрещаем изменение размера */
    overflow: auto; /* Используем один overflow, чтобы избежать конфликтов */
    padding: 15px; /* Отступы внутри текстовой области */
    border-radius: var(--border-radius);
    border: 1px solid #ebebeb; /* Цвет границы */
    box-sizing: border-box; /* Учитываем границы и отступы в ширине и высоте */
    box-shadow: none; /* Убираем тень в тёмной теме */
}

textarea::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар */
}

textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none; /* Убираем стандартный контур при фокусе */
}

textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none; /* Убираем стандартный контур при фокусе */
}

textarea::placeholder {
    color: #aaa; /* Цвет текста-подсказки */
    opacity: 0.8; /* Прозрачность */
}

/* Стили для тёмной темы */
body.dark-theme textarea {
    background: var(--background-color); /* Цвет фона для тёмной темы */
    color: var(--white-color); /* Цвет текста для тёмной темы */
    border: 1px solid var(--border-textarea-color); /* Цвет границы для тёмной темы */
}

/* Стили для фокуса в тёмной теме */
body.dark-theme textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none; /* Убираем стандартный контур при фокусе */
}

body.dark-theme textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none; /* Убираем стандартный контур при фокусе */
}

.button-container {
    display: flex; /* Включаем flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали, если это нужно */
    width: 100%; /* Занимает всю ширину контейнера */
}

/* Стили для кнопок в светлой теме */
input[type="reset"],
input[type="submit"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color); /* Цвет бордюра для светлой темы */
    cursor: pointer;
    background-color: var(--primary-color); /* Цвет фона для светлой темы */
    color: var(--white-color); /* Цвет текста для светлой темы */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и текста */
}

input[type="button"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color); /* Цвет бордюра для светлой темы */
    background-color: #fff;
    cursor: pointer;
    color: var(--black-color);
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и текста */
}

/* Стили для кнопок в тёмной теме */
body.dark-theme input[type="reset"],
body.dark-theme input[type="submit"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color); /* Цвет бордюра для тёмной темы */
    background-color: var(--primary-color); /* Цвет фона для тёмной темы */
    color: var(--white-color); /* Цвет текста для тёмной темы */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и текста */
}

body.dark-theme input[type="button"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color); /* Цвет бордюра для тёмной темы */
    background-color: var(--background-color); /* Цвет фона для тёмной темы */
    color: var(--white-color); /* Цвет текста для тёмной темы */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и текста */
}

input[type="button"]:hover {
    background-color: var(--primary-color); /* Цвет при наведении для обеих тем */
    color: var(--white-color); /* Цвет текста при наведении для обеих тем */
}

body.dark-theme input[type="button"]:hover {
    background-color: var(--primary-color); /* Цвет при наведении для обеих тем */
    color: var(--white-color); /* Цвет текста при наведении для обеих тем */
}

.button-active {
    background-color: var(--primary-color) !important; /* Цвет при наведении для обеих тем */
    color: var(--white-color) !important; /* Цвет текста при наведении для обеих тем */
}

body.dark-theme .button-active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}


.loading {
    opacity: 0.6;
}

header pre {
    display: grid;
    font-size: max(0.68rem, 1.9vmin) !important;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media (max-width: 600px) {
    pre {
        font-size: 32px;
    }

    .button-container {
        flex-direction: column;
    }
}