:root {
    --background-color: #fff;
    --background-color-dark: #1b2434;
    --primary-color: #379dd8;
    --white-color: #fff;
    --black-color: #000;
    --border-textarea-color: #ebebeb;
    --border-textarea-color-black: #4d545f;
    --border-radius: 20px;
    --font-family: Roboto, sans-serif;
    --placeholder-color: #aaa
}

html, body {
    font-family: var(--font-family), serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    text-rendering: optimizeLegibility;
    border-radius: var(--border-radius);
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer.dark-theme {
    background-color: var(--background-color-dark) !important;
    color: var(--primary-color);
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#theme-toggle svg {
    color: #333;
    transition: color 0.3s ease;
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: #fff;
}

body.dark-theme #theme-toggle svg {
    color: #f0e68c;
}

body.dark-theme #sun-icon {
    display: none;
}

body.dark-theme #moon-icon {
    display: inline;
}

body:not(.dark-theme) #moon-icon {
    display: none;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.textarea-container {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

@media (max-width: 600px) {
    html, body {
        overflow: auto;
    }
}

textarea {
    max-width: 500px;
    width: 100%;
    height: 250px;
    resize: none;
    overflow: auto;
    padding: 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-textarea-color);
    box-sizing: border-box;
    box-shadow: none;
    scrollbar-width: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none;
}

textarea::placeholder {
    color: var(--placeholder-color);
    opacity: 0.8;
}

body.dark-theme textarea {
    background-color: var(--background-color-dark);
    color: var(--white-color);
    border: 1px solid var(--border-textarea-color-black);
}

body.dark-theme textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

body.dark-theme textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

input[type="submit"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
}

input[type="button"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    cursor: pointer;
    color: var(--black-color);
}

body.dark-theme input[type="submit"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

body.dark-theme input[type="button"] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color-dark);
    color: var(--white-color);
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

body.dark-theme input[type="button"]:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.button-active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

body.dark-theme .button-active {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.loading {
    opacity: 0.6;
}

header pre {
    display: grid;
    font-size: max(0.68rem, 1.9vmin) !important;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.form-section .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.form-section button {
    padding: 8px 12px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--black-color);
    cursor: pointer;
}

.form-section button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

body.dark-theme .form-section button {
    background-color: var(--background-color-dark);
    color: var(--white-color);
}

body.dark-theme .form-section button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.form-section .button-container button {
    padding: 8px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.form-section .button-container button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

body.dark-theme .form-section .button-container button {
    background-color: var(--background-color-dark);
    color: var(--white-color);
}

body.dark-theme .form-section .button-container button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


.form-section .button-container button svg {
    transition: color 0.3s ease;
}

.form-section .button-container button[title]:hover:after {
    content: attr(title);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.form-section .button-container button[title]:hover:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent;
}

body.dark-theme .form-section .button-container button[title]:hover:after {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

body.dark-theme .form-section .button-container button[title]:hover:before {
    border-color: rgba(255, 255, 255, 0.9) transparent transparent;
}

.form-section .button-container button svg {
    transition: color 0.3s ease;
}

footer {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}

#theme-toggle,
footer button,
footer a {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-toggle svg,
footer button svg,
footer a svg {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

#theme-toggle:hover svg,
footer button:hover svg,
footer a:hover svg {
    color: var(--primary-color);
}

body.dark-theme #theme-toggle svg,
body.dark-theme footer button svg,
body.dark-theme footer a svg {
    color: var(--primary-color);
}

body.dark-theme #theme-toggle:hover svg,
body.dark-theme footer button:hover svg,
body.dark-theme footer a:hover svg {
    color: var(--primary-color);
}

textarea:focus, textarea:hover {
    border: 1px solid var(--primary-color);
    outline: none;
}

.github-icon {
    display: none;
}

body.dark-theme #github-dark {
    display: inline;
}

body:not(.dark-theme) #github-light {
    display: inline;
}

#asciiHeader {
    cursor: pointer;
}

#update-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}

#update-icon:hover {
    opacity: 1;
}

#update-icon svg {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

body.dark-theme #update-icon svg {
    color: var(--primary-color);
}

body.dark-theme #update-icon:hover svg {
    color: var(--primary-color);
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 5px;
    opacity: 0.7;
}

#loader svg {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.dark-theme #loader svg {
    color: var(--primary-color);
}